* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: 'Karla', sans-serif;
}

/* Typography */
.header-text {
  font-size: 2rem;
}
.header-title, .header-text {
  color: #FFFFFF;
  margin: 0;
}
/* ----------------------- */
/* Layout */

/* Header */
.header {
  display: flex;
  background-image: linear-gradient(to right, #672280, #A626D3 );
  align-items: center;
  justify-content: space-between;
  padding: 1em 4em;
}

.header div {
  display: flex;
  align-items: center;
}

.header-img {
  width: 45px;
  height: 50px;
  margin-right: 2em;
}


/* Meme Form */
.main {
  width: 70%;
  margin: 3em auto;
}


.form {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  row-gap: 2em;
}

.input {
  width: 80%;
  height: 50px;
  grid-row: 1 / span 1;
  border-radius: 5px;
  border: 1px solid grey;
}
.button {
  width: 90%;
  height: 50px;
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  background-image: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border: 0;
  border-radius: 5px;
  color: #FFFFFF;
}
.input, .button {
  font-size: 1.5rem;
  font-family: 'Karla', sans-serif;
  text-indent: 10px;
}


/* ----------------------- */
